@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/ptsans-400.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/ptsans-700.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/ptsans-400.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/ptsans-700.woff2') format('woff2');
    font-display: swap;
}

/*Основной стиль*/

body {
    font-family: 'PT Sans', sans-serif;
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    background-color: #f2f2f2;
    color: #000000;
    margin: 0;
}

/*Кнопки*/

.btn {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
}

.basic-btn {
    background-color: #756157;
}

.secondary-btn {
    background-color: #82B3D3;
}

.select-btn {
    background-color: #7DB54F;
}

.transparent-btn {
    background-color: transparent;
}

.page-container {
    background: #ffffff;
}

/*Главный хедер*/

.main-header {
    background-color: #ffffff;
    color: #000000;
}

.navigation-link,
.header-link-item {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    text-decoration: none;
    color: inherit;
    text-align: center;
    background-color: #ffffff;
}

.favorite-counter {
    font-size: 10px;
    line-height: 10px;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    background-color: #7DB54F;
}

/*Основной блок*/

.main-index,
.main-inner {
    background-color: #ffffff;
    color: #000000;
}

/*Баннер index*/

.promo {
    background-image: url(../images/index-promo-background.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
}

/*О Седоне index*/

.about-sedona {
    color: inherit;
    text-align: center;
}

.about-sedona-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
}

.about-sedona-description {
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
}

.about-sedona-btn {
    font-size: 20px;
    line-height: 36px;
}

/*Преимущества index*/

.advantages-item-dark-blue {
    background-color: #82B3D3;
    color: #ffffff;
    text-align: center;
}

.advantages-item-blue {
    background-color: #83B3D333;
    color: #000000;
    text-align: center;
}

.advantages-item-light-blue {
    background-color: #83B3D31F;
    color: #000000;
    text-align: center;
}

.advantages-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
}

.advantages-description {
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
}

/*Фильтр catalog*/

.filter {
    background-image: url(../images/catalog-filter-background.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    color: #ffffff;
}

.inner-header-title {
    font-size: 60px;
    line-height: 78px;
    font-weight: 700;
}

.breadcrumbs {
    font-size: 16px;
    line-height: 21px;
}

.breadcrumbs-link {
    color: inherit;
    text-decoration: none;
}

.catalog-filter-title {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
}

.catalog-filter-control {
    font-size: 18px;
    line-height: 23px;
    font-weight: 400;
}

.range-input,
.range-input-description {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: #000000;
}

.range-input {
    background-color: #f2f2f2;
}

.range-input-description {
    font-weight: 400;
}

/*Сортировка catalog*/

.sort {
    color: #000000;
}

.sort-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
}

.sort-select-control {
    background-color: #ffffff;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
}

/*Карточки catalog*/

.hotels-catalog-item {
    color: #000000;
    background-color: #ffffff;
}

.hotel-link {
    color: inherit;
    text-decoration: none;
}

.hotel-name {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
}

.hotel-description {
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
}

.hotel-description p:first-child {
    text-align: left;
}

.hotel-description p:last-child {
    text-align: right;
}

.rating {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    background-color: #f2f2f2;
    text-transform: uppercase;
}

/*Пагинация*/

.pagination {
    background-color: #ffffff;
}

.pagination-link {
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    background-color: #82B3D3;
}

.pagination-link-active {
    color: #000000;
    background-color: #f2f2f2;
}

.pagination-dots {
    color: #000000;
    background-color: #ffffff;
}

/*Блок подписки на рассылку общий*/

.subscribe {
    background-image: url(../images/index-subscribe-background.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    text-align: center;
    color: #ffffff;
}

.subscribe-transparent {
    background-image: none;
    background-color: #ffffff;
    color: #000000;
}

.subscribe-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
}

.subscribe-description {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
}

.subscribe-field {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    background-color: #f2f2f2;
}

.subscribe-btn {
    font-size: 20px;
    line-height: 36px;
}

/*Основной футер*/

.main-footer {
    background-color: #ffffff;
    color: #000000;
}

.footer-phone {
    background-color: transparent;
}

.footer-phone-link {
    color: #000000;
    font-size: 40px;
    line-height: 40px;
    font-weight: 400;
    text-decoration: none;
}
