@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/ptsans-400.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/ptsans-700.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/ptsans-400.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/ptsans-700.woff2') format('woff2');
    font-display: swap;
}



* {
    outline: #4f90b5 2px solid;
}


html {
    height: 100%;
}

/*Основной стиль*/

body {
    font-family: 'PT Sans', sans-serif;
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    background-color: #f2f2f2;
    color: #000000;
    margin: 0;
    height: 100%;
}

.page-container {
    background: #ffffff;
    margin: 0 auto;
    width: 1200px;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

/*Кнопки*/

.btn {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
}

.basic-btn {
    background-color: #756157;
}

.secondary-btn {
    background-color: #82B3D3;
}

.select-btn {
    background-color: #7DB54F;
}

.transparent-btn {
    background-color: transparent;
}

/*visually-hidden !!! */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*Главный хедер*/

.main-header {
    background-color: #ffffff;
    color: #000000;
    display: flex;
    justify-content: space-between;
}

.navigation {
    margin-left: 70px;
    width: 632px;
    display: flex;
}

.navigation-logo {
    width: 138px;
    margin-right: 30px;
}

.navigation-logo-img {
    display: block;
}

.navigation-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.header-link-list {
    margin-right: 70px;
    width: 312px;
    display: flex;
}

.navigation-link,
.header-link-item {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    text-decoration: none;
    color: inherit;
    text-align: center;
    background-color: #ffffff;
    display: block;
}

.navigation-link {
    margin: 0;
    padding: 20px 16px;
}

.header-link-item {
    min-width: 44px;
    min-height: 64px;
}

.favorite-counter {
    font-size: 10px;
    line-height: 10px;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    background-color: #7DB54F;
    padding: 5px;
}

.catalog-btn {
    padding: 8px 34px;
    margin-top: 14px;
    margin-bottom: 14px;
    margin-left: 20px;
    display: inline-block;
}

/*Основной блок*/

.main-index,
.main-inner {
    background-color: #ffffff;
    color: #000000;
}

.main-container {
    flex-grow: 1;
}

/*Баннер index*/

.promo {
    background-image: url(../images/index-promo-background.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    padding-top: 51px;
    padding-bottom: 82px;
}

.promo-logo {
    display: block;
    margin: 0 auto;
}

/*О Седоне index*/

.about-sedona {
    color: inherit;
    text-align: center;
    padding: 69px 0;
}

.about-sedona-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 auto;
    margin-bottom: 25px;
    max-width: 620px;
}

.about-sedona-description {
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    margin: 0 auto;
    max-width: 651px;
}

.about-sedona-btn {
    font-size: 20px;
    line-height: 36px;
    display: inline-block;
    margin: 0;
    padding: 8px 50px;
}

/*Преимущества index*/

.advantages-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.advantages-item {
    width: 400px;
    min-height: 385px;
    padding: 0 85px;
    box-sizing: border-box;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.advantages-item-img {
    width: 800px;
}

.advantages-img {
    display: block;
}

.advantages-item-dark-blue {
    background-color: #82B3D3;
    color: #ffffff;
    text-align: center;
}

.advantages-item-blue {
    background-color: #83B3D333;
    color: #000000;
    text-align: center;
}

.advantages-item-light-blue {
    background-color: #83B3D31F;
    color: #000000;
    text-align: center;
}

.advantages-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
    margin: 0;
    padding-bottom: 30px;
}

.advantages-description {
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    margin: 0;
    padding-top: 30px;
}

/*Фильтр catalog*/

.filter {
    background-image: url(../images/catalog-filter-background.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    color: #ffffff;
}

.filter-content {
    width: 1060px;
    margin: 0 auto;
}

.catalog-filter {
    display: flex;
}

.inner-header-title {
    font-size: 60px;
    line-height: 78px;
    font-weight: 700;
}

.breadcrumbs {
    font-size: 16px;
    line-height: 21px;
    margin: 0;
    padding: 0;
}

.breadcrumbs-link {
    color: inherit;
    text-decoration: none;
}

.catalog-filter-group-container {
    display: flex;
}


.catalog-filter-list {
    list-style-type: none;
}

.catalog-filter-title {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
}

.catalog-filter-control {
    font-size: 18px;
    line-height: 23px;
    font-weight: 400;
}

.range-input,
.range-input-description {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: #000000;
}

.range-input {
    background-color: #f2f2f2;
}

.range-input-description {
    font-weight: 400;
}

/*Сортировка catalog*/

.sort {
    color: #000000;
    display: flex;
    width: 1060px;
    margin: 0 auto;
    justify-content: space-between;
}

.sort-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
}

.sort-settings {
    display: flex;
}

.sort-select-control {
    background-color: #ffffff;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
}

.sort-grid-list {
    list-style-type: none;
}

/*Карточки catalog*/

.hotels-catalog {
    width: 1060px;
    margin: 0 auto;
}

.hotels-catalog-list {
    list-style-type: none;
}

.hotels-catalog-item {
    color: #000000;
    background-color: #ffffff;
}

.hotel-link {
    color: inherit;
    text-decoration: none;
}

.hotel-name {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
}

.hotel-description {
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
}

.hotel-description p:first-child {
    text-align: left;
}

.hotel-description p:last-child {
    text-align: right;
}

.rating {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    background-color: #f2f2f2;
    text-transform: uppercase;
    text-align: center;
}

/*Пагинация*/

.catalog-pagination {
    background-color: #ffffff;
    width: 1060px;
    margin: 0 auto;
}

.catalog-pagination-list {
    list-style-type: none;
}

.pagination-link {
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    background-color: #82B3D3;
}

.pagination-link-active {
    color: #000000;
    background-color: #f2f2f2;
}

.pagination-dots {
    color: #000000;
    background-color: #ffffff;
}

/*Блок подписки на рассылку общий*/

.subscribe {
    background-image: url(../images/index-subscribe-background.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    text-align: center;
    color: #ffffff;
}

.subscribe-transparent {
    background-image: none;
    background-color: #ffffff;
    color: #000000;
}

.subscribe-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
}

.subscribe-description {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
}

.subscribe-field {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    background-color: #f2f2f2;
}

.subscribe-btn {
    font-size: 20px;
    line-height: 36px;
    padding: 8px 50px;
    margin: 0;
    display: inline-block;
    outline: none;
    border: none;
}

/*Основной футер*/

.main-footer {
    background-color: #ffffff;
    color: #000000;
}

.main-footer-container {
    width: 1060px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer-social-list {
    list-style-type: none;
}

.footer-social {
    width: 190px;
}

.footer-logo {
    width: 115px;
}

.footer-phone {
    background-color: transparent;
    width: 350px;
}

.footer-phone-link {
    color: #000000;
    font-size: 40px;
    line-height: 40px;
    font-weight: 400;
    text-decoration: none;
}
