@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/ptsans-400.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/ptsans-700.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/ptsans-400.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/ptsans-700.woff2') format('woff2');
    font-display: swap;
}



/* * {
    outline: #4f73b5 2px solid;
} */


html {
    height: 100%;
}

/*Основной стиль*/

body {
    font-family: 'PT Sans', sans-serif;
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    background-color: #f2f2f2;
    color: #000000;
    margin: 0;
    height: 100%;
}

.page-container {
    background: #ffffff;
    margin: 0 auto;
    width: 1200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100%;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .2);
}

/*Кнопки*/

.btn {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    display: block;
    border-radius: 4px;
    cursor: pointer;
}

.basic-btn {
    background-color: #756157;
}

.basic-btn:hover {
    background-color: #615048;
}

.basic-btn:focus {
    background-color: #615048;
    outline: none;
}

.basic-btn:active {
    background-color: #756157;
    color: rgba(255, 255, 255, .3);
}

.basic-btn:disabled {
    background-color: #e5e5e5;
}

.secondary-btn {
    background-color: #82B3D3;
}

.secondary-btn:hover {
    background-color: #68A2CA;
}

.secondary-btn:focus {
    background-color: #68A2CA;
    outline: none;
}

.secondary-btn:active {
    background-color: #82B3D3;
    color: rgba(255, 255, 255, .3);
}

.secondary-btn:disabled {
    background-color: #e5e5e5;
}

.select-btn {
    background-color: #7DB54F;
}

.select-btn:hover {
    background-color: #6C9E42;
}

.select-btn:focus {
    background-color: #6C9E42;
    outline: none;
}

.select-btn:active {
    background-color: #7DB54F;
    color: rgba(255, 255, 255, .3);
}

.select-btn:disabled {
    background-color: #e5e5e5;
}

.transparent-btn {
    background-color: transparent;
}

.transparent-btn:hover {
    color: rgba(255, 255, 255, .3);
}

.transparent-btn:focus {
    color: #fff;
    outline: 3px #83B3D3 solid;
}

.transparent-btn:active {
    color: rgba(255, 255, 255, .2);
}

.transparent-btn:disabled {
    color: rgba(255, 255, 255, .1);
}

/*visually-hidden !!! */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*Главный хедер*/

.main-header {
    background-color: #ffffff;
    color: #000000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 70px 0 238px;
    position: relative;
}

.navigation {
    width: 632px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.navigation-logo {
    width: 138px;
    margin: 0;
    position: absolute;
    left: 70px;
    top: 0;
    z-index: 1;
}

.navigation-logo-img {
    display: block;
}

.navigation-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.header-link-list {
    width: 312px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.navigation-link,
.header-link-item {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    text-decoration: none;
    color: inherit;
    text-align: center;
    background-color: #ffffff;
    display: block;
}

.navigation-link {
    margin: 0;
    padding: 20px 16px;
    position: relative;
}

.navigation-link-active::after {
    content: '';
    position: absolute;
    width: calc(100% - 32px);
    height: 2px;
    margin: 0 16px;
    background-color: #000000;
    bottom: -1px;
    left: 0;
    right: 0;
    z-index: 1;
}

.header-link-item {
    display: block;
    min-width: 44px;
    min-height: 64px;
}

.header-link-item:nth-child(2) {
    margin-right: 20px;
}

.favorite-counter {
    font-size: 10px;
    line-height: 10px;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    background-color: #7DB54F;
    padding: 5px;
    border-radius: 50%;
    position: absolute;
    top: 11px;
    right: 4px;
}

.catalog-btn {
    padding: 8px 34px;
    margin-top: 14px;
    margin-bottom: 14px;
    display: inline-block;
}

.header-link-search {
    background-image: url(../images/icon-search.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px 20px;
}

.header-link-favorite {
    background-image: url(../images/icon-favorite.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px 20px;
    position: relative;
}

/*Основной блок*/

.main-index,
.main-inner {
    background-color: #ffffff;
    color: #000000;
}

.main-container {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

/*Баннер index*/

.promo {
    background-image: url(../images/index-promo-background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    padding-top: 51px;
    padding-bottom: 82px;
}

.promo::after {
    content: '';
    position: absolute;
    bottom: 0;
    background-image: url(../images/index-promo-divider.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 57px;
}

.promo-logo {
    display: block;
    margin: 0 auto;
}

/*О Седоне index*/

.about-sedona {
    color: inherit;
    text-align: center;
    padding: 69px 0;
}

.about-sedona-welcome {
    padding: 64px 0;
}

.about-sedona-search {
    padding: 96px 304px;
}

.about-sedona-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 auto;
    margin-bottom: 25px;
    max-width: 620px;
}

.about-title-welcome {
    margin-bottom: 20px;
}

.about-title-search {
    margin-bottom: 20px;
}

.about-sedona-description {
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    margin: 0 auto;
    max-width: 651px;
}

.about-description-search {
    margin-bottom: 54px;
}

.about-sedona-btn {
    font-size: 20px;
    line-height: 36px;
    display: inline-block;
    margin: 0;
    padding: 8px 50px;
}

/*Преимущества index*/

.advantages-list {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style-type: none;
}

.advantages-item {
    width: 400px;
    min-height: 385px;
    padding: 0 85px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.advantages-item-food,
.advantages-item-housing,
.advantages-item-souvenirs {
    padding: 183px 85px 81px 85px;
    background-repeat: no-repeat;
    background-position: center 81px;
}

.advantages-item-housing {
    background-image: url(../images/icon-housing.svg);
}

.advantages-item-food {
    background-image: url(../images/icon-food.svg);
}

.advantages-item-souvenirs {
    background-image: url(../images/icon-souvenir.svg);
}

.advantages-item-img {
    width: 800px;
}

.advantages-img {
    display: block;
}

.advantages-item-dark-blue {
    background-color: #82B3D3;
    color: #ffffff;
    text-align: center;
}

.advantages-item-blue {
    background-color: #83B3D333;
    color: #000000;
    text-align: center;
}

.advantages-item-light-blue {
    background-color: #83B3D31F;
    color: #000000;
    text-align: center;
}

.advantages-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
    margin: 0;
    padding-bottom: 30px;
}

.advantages-description {
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    margin: 0;
    padding-top: 30px;
}

.advantages-description-secondary {
    padding: 0;
}

.advantages-divider {
    position: relative;
}

.advantages-divider::before {
    content: '';
    position: absolute;
    width: 60px;
    height: 2px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
}

.advantages-item-blue .advantages-divider::before,
.advantages-item-light-blue .advantages-divider::before {
    background-color: rgba(0, 0, 0, .3);
}

.advantages-item-dark-blue .advantages-divider::before {
    background-color: rgba(255, 255, 255, 0.3);
}

/*Фильтр catalog*/

.filter {
    background-image: url(../images/catalog-filter-background.jpg);
    background-repeat: no-repeat;
    background-size: 110% auto;
    color: #ffffff;
    padding: 35px 0 70px 0;
}

.filter-content {
    width: 1060px;
    margin: 0 auto;
}

.catalog-filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.inner-header-title {
    font-size: 60px;
    line-height: 78px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 8px;
}

.breadcrumbs {
    font-size: 16px;
    line-height: 21px;
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.breadcrumbs-link {
    color: inherit;
    text-decoration: none;
}

.breadcrumbs-link-home {
    display: block;
    width: 13px;
    height: 15px;
    background-image: url(../images/icon-home.svg);
    background-position: center center;
    background-repeat: no-repeat;
}

.catalog-filter-group-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.catalog-filter-group-container:first-child {
    margin-right: 140px;
}

.catalog-filter-group {
    margin: 0;
    padding: 0;
    min-width: 150px;
    border: none;
}

.catalog-filter-group:not(:last-child) {
    margin-right: 70px;
}


.catalog-filter-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.catalog-filter-item {
    margin: 0;
    padding: 0;
    margin-bottom: 16px;
}

.catalog-filter-title {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    margin-bottom: 32px;
}

.catalog-filter-control {
    font-size: 18px;
    line-height: 23px;
    font-weight: 400;
}

.price-range-group {
    margin: 0;
    padding: 0;
    margin-right: 70px;
    border: none;
}

.range-input-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 288px;
    height: 48px;
    margin-bottom: 36px;
}

.range-input,
.range-input-description {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: #000000;
}

.range-input {
    background-color: #f2f2f2;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 143px;
    min-height: 48px;
    border: none;
    outline: none;
    margin: 0;
    padding: 12px 20px;
}

.range-input-description {
    font-weight: 400;
}

.range-filter {
    width: 288px;
    margin: 0;
    padding: 0;
}

.filter-button-group {
    -ms-flex-item-align: end;
    align-self: flex-end;
}

.filter-btn {
    width: 191px;
    padding: 8px 0;
    border: none;
    outline: none;
}

.filter-btn:not(:last-child) {
    margin-bottom: 32px;
}


/*Основной контейнер catalog*/
.catalog-body {
    width: 1060px;
    margin: 50px auto 60px auto;
}


/*Сортировка catalog*/

.sort {
    color: #000000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1060px;
    margin: 0;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 40px;
}

.sort-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
}

.sort-settings {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.sort-select-control {
    background-color: #ffffff;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    width: 292px;
    height: 49px;
    padding: 14px 20px;
    margin: 0;
    margin-right: 70px;
}

.sort-grid-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 160px;
    min-height: 48px;
}

.sort-grid-item:not(:nth-child(3n)) {
    margin-right: 8px;
}

.sort-grid-btn {
    display: block;
    min-width: 48px;
    min-height: 48px;
    margin: 0;
}

/*Карточки catalog*/

.hotels-catalog {
    width: 1060px;
    margin: 0;
}

.hotels-catalog-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 340px 20px 340px 20px 340px;
    grid-template-columns: repeat(3, 340px);
    gap: 20px;
}

.hotels-catalog-item {
    color: #000000;
    background-color: #ffffff;
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.hotel-link {
    color: inherit;
    text-decoration: none;
}

.hotel-img {
    display: block;
    margin-bottom: 16px;
    -o-object-fit: cover;
    object-fit: cover;
}

.hotel-name {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 16px;
}

.hotel-description {
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 16px;
}

.hotel-description p {
    margin: 0;
}

.hotel-description p:first-child {
    text-align: left;
}

.hotel-description p:last-child {
    text-align: right;
}

.hotel-button-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 16px;
    margin-top: auto;
}

.hotel-btn {
    width: 140px;
    padding: 8px 0;
}

.hotel-rating-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.stars {
    margin: 0;
}

.rating {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    background-color: #f2f2f2;
    text-transform: uppercase;
    text-align: center;
    width: 140px;
    padding: 8px 0;
    margin: 0;
    border-radius: 4px;
}

/*Пагинация*/

.catalog-pagination {
    background-color: #ffffff;
    width: 1060px;
    margin: 0 auto;
}

.catalog-pagination-list {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.catalog-pagination-item {
    margin-bottom: 8px;
}

.catalog-pagination-item:not(:last-child) {
    margin-right: 8px;
}

.pagination-link {
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    background-color: #82B3D3;
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-width: 60px;
    min-height: 60px;
    border-radius: 4px;
}

.pagination-link-active {
    color: #000000;
    background-color: #f2f2f2;
}

.pagination-dots {
    color: #000000;
    background-color: #ffffff;
}

/*Блок подписки на рассылку общий*/

.subscribe {
    background-image: url(../images/index-subscribe-background.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    text-align: center;
    color: #ffffff;
    padding: 96px 258px 104px 258px;
}

.subscribe-transparent {
    background-image: none;
    background-color: #ffffff;
    color: #000000;
}

.subscribe-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 20px;
}

.subscribe-description {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    margin: 0;
    margin-bottom: 54px;
}

.subscribe-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.subscribe-field {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    background-color: #f2f2f2;
    border: none;
    outline: none;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 14px 20px;
}

.subscribe-btn {
    font-size: 20px;
    line-height: 36px;
    padding: 8px 50px;
    margin: 0;
    display: inline-block;
    outline: none;
    border: none;
    border-radius: 0 4px 4px 0;
}

/*Основной футер*/

.main-footer {
    background-color: #ffffff;
    color: #000000;
    padding: 40px 70px 30px 70px;
}

.main-footer-container {
    width: 1060px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer-social-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.social-link {
    display: block;
    min-width: 48px;
    min-height: 40px;
    position: relative;
}

.footer-social {
    width: 190px;
}

.footer-phone {
    background-color: transparent;
    width: 350px;
}

.footer-phone-link {
    display: block;
    color: #000000;
    font-size: 40px;
    line-height: 40px;
    font-weight: 400;
    text-decoration: none;
    margin: 0;
}

.footer-logo {
    width: 115px;
}

.footer-logo-img {
    display: block;
}

.social-link-icon {
    fill: #83B3D3;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
